.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .sign-in-form {
    background-color: #f1eded;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
  }
  
  .loginLabel {
    text-align: center;
    color: #333;
  }
  
  .signInLabel {
    display: block;
    margin-bottom: 8px;
  }
  
  .signInInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signInButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(216, 169, 17);
    color: black;
    border: 1px solid #141313;
    border-radius: 4px;
    cursor: pointer;
    border-color: black;
  }
  
  .signInButton:hover {
    background-color: #e2c20b;
    
  }
  
  .signInButton,
  .signInInput {
    box-sizing: border-box;
    border-color: black;
  }
  